<div class="container">
    <div class="row">
        <div class="col">

            <blockquote class="blockquote text-center animate__animated animate__zoomIn">
                <p class="mb-0 font-weight-light">I have 1 year of experience in desktop application development,
                    and database
                    administration.</p>
                <p class="mb-0 font-weight-light"> I am currently working in the area of software quality performing
                    a developing crm</p>

                <footer class="blockquote-footer">I have worked on different university projects</footer>
            </blockquote>


        </div>

    </div>
    <div class="row mt-5">

        <div class="col">

            <blockquote class="text-right shadow p-3 mb-5 rounded animate__animated animate__rotateInDownLeft animate__delay-1s">
                <p class="mb-0 cargo">QA Automation</p>
                <p> Grupo Babel IT & Services | 2019 - Current</p>
            </blockquote>

            <blockquote class="text-right shadow p-3 mb-5 rounded animate__animated animate__rotateInDownLeft animate__delay-2s">
                <p class="mb-0 cargo">Computer Teacher</p>
                <p>Instituto Tecnologico De las Americas | 2019 - Current</p>
            </blockquote>
        </div>
        <div class="col">


            <blockquote class="text-right shadow p-3 mb-5 rounded animate__animated animate__rotateInDownRight animate__delay-1s">
                <p class="mb-0 cargo">Customer Service Assistant</p>
                <p> Coorporacion del Acueducto (CAASD) | 2017 - 2018</p>
            </blockquote>

            <blockquote class="text-right shadow p-3 mb-5 rounded animate__animated animate__rotateInDownRight animate__delay-2s">
                <p class="mb-0 cargo">Computer Programmer</p>
                <p> Coorporacion del Acueducto (CAASD) | 2018 - 2019</p>
            </blockquote>
        </div>

    </div>
    <div class="row mt-5">
        <a class="btn btn-block" href="/src/assets/docs/CV Maria Español.pdf" download="MariaAdames.pdf">
            Download CV
            </a>
    </div>
</div>