<!-- <div>
    <p>portfolio works!</p>

</div>


<div>
    <ul>
        <li>Hola</li>
        <li>2</li>
        <li>sadjk</li>
    </ul>
    <p>Pueden aplicarse varias clases</p>
</div>
<div *ngFor="let fruta of fruits; let posicion = index">



    <div [ngClass]="posicion%2==0 ? 'contentoscuro' : 'contentclaro'"  style="display: flex;" *ngIf="fruta.visible;">
        <h2>{{posicion + 1}}. - {{fruta.name}} - </h2>
        <span [ngStyle]="{'font-size':size+'px'}" (click)="eliminar(posicion)"> X</span>
    </div>

</div> -->

<!-- 
<input type="text" [([(ngModel)]="nombre"/>
<button (click)="setValue()">Cambiar</button> -->