<div class="container">

    <div class="row">
        <div class="col text-center">
            <span>Mi Curriculum Web </span>
            <div class="galeria shadow rounded">
                <form action="">
                    <input type="radio" name="navegacion" id="_1" checked>
                    <input type="radio" name="navegacion" id="_2">
                    <input type="radio" name="navegacion" id="_3">
                    <img src="/assets/img/MiCv1.png" width="260" height="300" alt="Mi Portafolio Web" />
                    <img src="/assets/img/MiCv2.png" width="260" height="300" alt="Mi Portafolio Web" />
                    <img src="/assets/img/MiCv3.png" width="260" height="300" alt="Mi Portafolio Web" />
                </form>
            </div>

            <br>
            <button class="btn btn-info btn-block">Ver Mas...</button>
        </div>
        <div class="col text-center">
            <span>Pagina Web Oficial de TDS</span>
            <div class="galeria shadow rounded">
                <form action="">
                    <input type="radio" name="navegacion" id="_1" checked>
                    <input type="radio" name="navegacion" id="_2">
                    <input type="radio" name="navegacion" id="_3">
                    <input type="radio" name="navegacion" id="_4">
                    <img src="/assets/img/TDS1.png" width="260" height="300" alt="Pagina Oficial TDS" />
                    <img src="/assets/img/TDS2.png" width="260" height="300" alt="Pagina Oficial TDS" />
                    <img src="/assets/img/TDS3.png" width="260" height="300" alt="Pagina Oficial TDS" />
                    <img src="/assets/img/TDS4.png" width="260" height="300" alt="Pagina Oficial TDS" />

                </form>
            </div>
            <br>
            <button class="btn btn-info btn-block">Ver Mas...</button>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col text-center">
            <span>Pagina Web Oficial de TDS</span>
            <div class="galeria shadow rounded">
                <form action="">
                    <input type="radio" name="navegacion" id="_1" checked>
                    <input type="radio" name="navegacion" id="_2">
                    <input type="radio" name="navegacion" id="_3">
                    <input type="radio" name="navegacion" id="_4">
                    <img src="/assets/img/TDS1.png" width="260" height="300" alt="Pagina Oficial TDS" />
                    <img src="/assets/img/TDS2.png" width="260" height="300" alt="Pagina Oficial TDS" />
                    <img src="/assets/img/TDS3.png" width="260" height="300" alt="Pagina Oficial TDS" />
                    <img src="/assets/img/TDS4.png" width="260" height="300" alt="Pagina Oficial TDS" />

                </form>
            </div>
            <br>
            <button class="btn btn-info btn-block">Ver Mas...</button>
        </div>
        <div class="col text-center">
            <span>Mi Curriculum Web </span>
            <div class="galeria shadow rounded">
                <form action="">
                    <input type="radio" name="navegacion" id="_1" checked>
                    <input type="radio" name="navegacion" id="_2">
                    <input type="radio" name="navegacion" id="_3">
                    <img src="/assets/img/MiCv1.png" width="260" height="300" alt="Mi Portafolio Web" />
                    <img src="/assets/img/MiCv2.png" width="260" height="300" alt="Mi Portafolio Web" />
                    <img src="/assets/img/MiCv3.png" width="260" height="300" alt="Mi Portafolio Web" />
                </form>
            </div>

            <br>
            <button class="btn btn-info btn-block">Ver Mas...</button>
        </div>
        
    </div>




</div>