 span{
    color: rgb(38, 163, 236);
    
}
 
.images{
    width:600px;
	height:400px;
	/* line-height:400px; */
	margin:0px auto;
    margin-right: 0%;
	/* text-align:center; */
}
.images img{
    vertical-align:middle;
 }
#imguno{
    width: 610px;
    height: 780px;
}
blockquote{
    font-size: 18pt;
}
#presentacion{
    font-family: "Apple Chancery";
    font-size: 35pt;
    /* color: rgb(66, 72, 82); */
    text-align: center;
}
 
#knowme{
    font-family: "Goudy Old Style";
    font-size: 50pt;
    color: rgb(66, 72, 82);
    text-align: center;
}

 
@media (min-width:300px) and (max-width:700px)  {
    
    .images{
        width:200px;
        height:200px;
        line-height:50px;
        margin:0px;
        text-align:center;
    }
    #imguno{
        width: 500px;
        height: 600px;
    }
    .images img{
        vertical-align:middle;
    } 
   
    blockquote{
        font-size: 16pt;
    }
     
    
}


@media(min-width:300px) and  (max-width:900px) and (orientation: landscape)  {
    #imguno{
        /* margin-left: 9rem; */
        width: 270px;
        height: 350px;
    }
    .images{
        width:400px;
        height:400px;
        line-height:400px;
        margin:0px auto;
        text-align:center;
    }
    .images img{
        vertical-align:middle;
    } 
    
    blockquote{
        font-size: 16pt;
    }

}