<div>
    <div class="row">

        <div class="col textoinicio animate__animated animate__bounceInDown">
            <div class="container">
                <div class=" mt-1">
                    <p id="presentacion">Hi!</p>

                    <p id="presentacion">My name is <span>Maria Alexandra Adames</span></p>

                    <p id="presentacion">I am from Dominican Republic</p>

                    <p id="presentacion"> I'm <span>Software Developer and QA Automation.</span></p>
                    <br>
                    <p id="presentacion"> - - - - - </p>
                </div>
            </div>

        </div>
        <div class="col animate__animated animate__bounceInDown">

            <div class="images">
                <div class="">
                    <img id="imguno" src="/assets/img/img1.jpg" class="rounded" alt="...">
                </div>

            </div>
        </div>

    </div>

</div>