<!-- <div class="container">
    <div>
        <div>
            <blockquote class="blockquote text-center">
                <p class="mb-0">Hi! I am Maria Alexandra Adames from Dominican Republic, I'm
                    <span>Software Developer and QA Automation.</span> </p>
                <footer class="blockquote-footer"> I invite you to know more About me</footer>
            </blockquote>
        </div>
        <div class="images">
            <div class="center">
                <img id="imguno" src="/assets/img/img1.jpg"
                    class="shadow p-3 mb-5 bg-dark rounded hvr-grow-shadow  animate__animated animate__backInRight"
                    alt="...">
            </div>

        </div>

    </div> 
</div> -->
    <div>
        <label>Nombre</label>
        <br>
        <input type="text" [(ngModel)]="Nombre"/>
        <br>
        <label>Sexo</label>
        <br>
        <input type="text" [(ngModel)]="Sexo" />
        <br >
        <label>Estado Civil</label>
        <br>
        <select name="estadocivil" id="" [(ngModel)]="estadoCivil">
            <option value="1">Soltero</option>
            <option value="2">Casado</option>
        </select> 
        <br>
         <label>Cedula</label>
        <br>
        <input type="text" [(ngModel)]="Cedula" />
        <br>
        <label>Telefono</label>
        <br>
        <input type="text" [(ngModel)]="Telefono" />
        <br>

        <button type="button" (click)="portafolio()" >Submit</button>  

    </div> 

