<div class="container pt-5">


    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4  animate__animated animate__bounceInDown animate__delay-2s">
            <div class="card bg-secondary shadow">
                <div class="image">
                    <img src="/assets/img/ctc.png" class="card-img-top dribbble-over" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Web-Page Design</h5>
                    <p class="text-white espacio">Centros Tecnologicos Comunitarios</p>

                    <span><b>2017-2017</b></span>

                </div>
            </div>
        </div>
        <div class="col mb-4 animate__animated animate__bounceInDown animate__delay-2s">
            <div class="card bg-secondary shadow">

                <div class="card-body">
                    <h5 class="card-title">Angular Web Programming</h5>
                    <p class="text-white espacio">Instituto Tecnologico de las Americas</p>

                    <span><b>2020-2020</b></span>

                </div>
            </div>
        </div>
        <div class="col mb-4  animate__animated animate__bounceInDown animate__delay-2s">
            <div class="card bg-secondary shadow">

                <!-- <img src="/assets/img/itfam.jpg" class="card-img-top" alt="..."> -->
                <div class="card-body">
                    <h5 class="card-title">Ionic Mobile Programming</h5>
                    <p class="text-white espacio">Instituto Tecnologico de las Americas</p>
                    <span><b>2019-2019</b></span>
                </div>
            </div>
        </div>
        <div class="col mb-4  animate__animated animate__bounceInDown animate__delay-1s">
            <div class="card shadow cardazul">
                <div class="image">
                    <!-- <img src="/assets/img/itfam.jpg" class="card-img-top dribbble-over" alt="..."> -->
                </div>
                <div class="card-body">

                    <h5 class="card-title">Technical Bachelor in Computer Science</h5>
                    <p class="text-white">Instituto Tecnologico Fabio A. Mota</p>
                    <span><b>2014-2016</b></span>
                </div>
            </div>
        </div>
        <div class="col mb-4  animate__animated animate__bounceInDown animate__delay-1s">
            <div class="card shadow cardazul">
                <div class="image">
                    <img src="/assets/img/Titulo.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body">

                    <h5 class="card-title">Software Development Technologist</h5>
                    <p class="text-white">Instituto Tecnologico de las Americas</p>
                    <span><b>2017-2019</b></span>
                </div>
            </div>
        </div>
        <div class="col mb-4  animate__animated animate__bounceInDown animate__delay-1s">
            <div class="card shadow cardazul">

                <!-- <img src="/assets/img/itfam.jpg" class="card-img-top" alt="..."> -->
                <div class="card-body">
                    <h5 class="card-title">Software Development Engineering</h5>
                    <p class="text-white">Universidad Apec</p>
                    <span><b>2019-Current</b></span>
                </div>
            </div>
        </div>
        <div class="col mb-4  animate__animated animate__bounceInDown">
            <div class="card bg-secondary shadow ">
                <div class="image">
                    <img src="/assets/img/scrum.png" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Scrum Fundamentals Certified</h5>
                    <p class="text-white espacio">Scrum Study</p>

                    <span><b>2019-2019</b></span>
                </div>
            </div>
        </div>
        <div class="col mb-4  animate__animated animate__bounceInDown">
            <div class="card bg-secondary shadow">

                <!-- <img src="/assets/img/itfam.jpg" class="card-img-top" alt="..."> -->
                <div class="card-body">
                    <h5 class="card-title">Android Mobile Development</h5>
                    <p class="text-white espacio">Altice Academy</p>

                    <span><b>2017-2017</b></span>
                </div>
            </div>
        </div>
        <div class="col mb-4  animate__animated animate__bounceInDown">
            <div class="card bg-secondary shadow">
                <div class="image">
                    <img src="/assets/img/sigma.png" class="card-img-top dribbble-over" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Six Sigma Yellow Belt</h5>
                    <p class="text-white espacio">6Sigma Study</p>

                    <span><b>2019-2019</b></span>
                </div>
            </div>
        </div>
    </div>
</div>